[submodule "microsoft-ui-xaml"]
	path = external/microsoft-ui-xaml
	url = https://github.com/wieslawsoltes/microsoft-ui-xaml.git
	branch = winui3/main
[submodule "external/Avalonia"]
	path = external/Avalonia
	url = https://github.com/AvaloniaUI/Avalonia.git
[submodule "external/ACadSharp"]
	path = external/ACadSharp
	url = https://github.com/wieslawsoltes/ACadSharp.git
	branch = master
